@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
html, body {
  height: 100%;
  overflow: hidden;
}
body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: url(/img/feldflur.jpg) no-repeat center center fixed;
  transition: scale 0.5s ease-out;
  transform: scale(1, 1);
}
.loading .cover {
  transform: scale(1.2, 1.2);
}
.content {
  display: block;
  position: fixed;
  left: 0;
  bottom: 10%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}
.name {
  display: inline-block;
  font-size: 4.1vw;
  font-weight: 100;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-shadow: 1px 1px 10px rgba(00, 00, 00, 0.6);
}
.profession {
  padding: 1.5vw 0;
  color: rgba(255, 255, 255, 0.8);
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 10px rgba(00, 00, 00, 0.6);
  font-size: 1.3vw;
}
.place {
  margin-bottom: 3vw;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1vw;
  padding-right: 1vw;
}
.profiles {
  list-style: none;
}
.profiles li {
  margin: 0 1.5vw;
  display: inline-block;
}
.profiles li a {
  font-size: 2vw;
  transition: color ease-in-out 0.3s;
  color: rgba(255, 255, 255, 0.5);
}
.profiles li a:hover {
  color: rgba(255, 255, 255, 0.9);
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  visibility:hidden;
  opacity: 0;
  transition: visibility 0s ease-out 0.3s,opacity 0.3s ease-out;
}
.loading .loading-screen {
  visibility:visible;
  opacity: 1;
}
.sk-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  animation: sk-pulseScaleOut 1s infinite ease-in-out; 
}
@keyframes sk-pulseScaleOut {
  0% {
    transform: scale(0); 
  }
  100% {
    transform: scale(1);
    opacity: 0; 
  } 
}
@keyframes zoomOut {
  from {
    transform: scale(1.07, 1.07);
  }
  to {
    transform: scale(1, 1);
  }
}
.zoomOut {
  animation: zoomOut 2.5s ease-out 0s;
}
@media screen and (max-width : 760px) {
  .cover {
    background: url(/img/feldflur_small.jpg) no-repeat center center fixed;
  }
}
@media screen and (max-width : 760px),
@media (orientation: portrait) {  
  .name {
    font-size: 8vw;
    text-shadow: 1px 1px 10px rgba(00, 00, 00, 1);
  }
  .profession {
    padding: 2.6vw 0;
    font-size: 3vw;
  }
  .place {
    margin-bottom: 6vw;
    font-size: 2vw;
    padding-right: 2vw;
  }
  .profiles li {
    margin: 0 3vw;
  }
  .profiles li a {
    font-size: 4vw;
  }
}
@media screen and (max-width : 760px) and (orientation: portrait) {
  .profession {
    font-size: 3.2vw;
  }
  .place {
    margin-bottom: 14vw;
  }
  .profiles li {
    margin: 0 4vw;
  }
  .profiles li a {
    font-size: 8vw;
  }
}
